@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap');


* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

body {
      background-color: #ffffff;
      animation: style 3s infinite;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      transition: all 0.023s;
      

}

.container {
      background-color: rgb(243, 255, 255);
      box-shadow: 7px 5px 5px 4px rgb(211, 200, 201);

      height: 65%;
      width: 65%;
      border-radius: 8px;
}

.container .second-container h3 {
      font-family: 'Roboto', sans-serif;

}

.container .second-container p {
      font-family: 'Poppins', sans-serif;

}

.container .third-container .list {
      justify-content: center;
      display: flex;
      align-items: center;
      text-align: center;
}

.container .third-container .list .list-item {
      list-style: none;
      text-align: center;


}

.container .third-container .list .list-item .link {
      padding: 10px;
      text-align: center;
}

.container .third-container .list .list-item .link img {
      height: 34px;
      width: 34px;

}

.container .third-container .list .list-item .link:hover {
      border-radius: 10px;
      background-color: rgb(237, 240, 243);
}

@keyframes style {
      0% {
            background-color: #ffffff;

      }

      10% {
            background-image: url("images/logowithmobile.PNG");


      }

      20% {
            background-color: #bfb1b1;
      }

      30% {
            background-image: url("images/laptop.PNG");
            /* background-repeat: repeat; */
      }

      40% {
            background-color: #eedcdc;
      }

      50% {
            background-image: url("images/logowithmobile.PNG");
      }

      60% {
            background-color: #dbd6d6;
      }

      70% {
            background-image: url("images/logowithpen.PNG");
      }

      80% {
            background-color: #e8dddd;
      }

      90% {
            background-image: url("images/backlogo.PNG");
      }

      100% {
            background-image: url("images/logowithmobile.PNG");
      }
}
/* @media screen and (min-width: 1200px) {
      .container {
            height: 50%;
            width: 45%;
            padding: 20px;
      }

} */
@media screen and (min-width: 1024px) {
      .container {
            height: 50%;
            width: 40%;
            padding: 20px;
      }

}
@media screen and (max-width: 1024px) {
      .container {
            height: 50%;
            width: 40%;
            padding: 20px;
      }

}
@media screen and (max-width: 478px) {
      .container {
            height: 80%;
            width: 80%;
            padding: 15px;
      }

}
@media screen and (max-width: 675px) {

      .container {
            height: 80%;
            width: 80%;
            padding: 15px;
      }

}
@media screen and (max-width: 478px) {
      .container {
            height: 90%;
            width: 80%;
            padding: 15px;
      }

}

@media screen and (max-width: 320px) {
      .container {
            height: auto;
            width: 100%;
            padding: 12px;
      }

}
@media screen and (max-width: 280px) {
   
      .container {
            height:auto;
            width: 100%;
            padding-bottom: 16px;
      }

}
.last-container{
      display: flex;
      align-items: center;
      justify-content: center;

}
.last-container button{
      width: 40%;
      height: 45px;
      background-color: greenyellow;
      border-radius: 10px;
      margin-left: 10px;
      border: none;
}
.last-container button a{
      text-decoration: none;
      color: white;
      font-size: 20px;
}
